$black: #111E2D;
$white: #FCFCFC;

$light-gray: #e6e6e8;
$gray: #8B8C92;
$dark-gray: #4D4D51;

$primary-text: #083D77;
$light: #F2F2ED;

$monospace: 'Courier New', Courier, monospace;
$serif: Georgia, 'Times New Roman', Times, serif;
$sans-serif: Arial, Helvetica, sans-serif;